div.css-1wrcr25.egzxvld0{
  background-image: url(https://i.ibb.co/Pgd309n/seat-grey-shadow-001.jpg
);
  background-size: cover;
  border-radius: 10px;
}

div.css-12oz5g7.egzxvld2{
  max-width: 60rem;
}

p {
  color: rgb(255, 255, 255);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 25px;
}

h1 {
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(255, 255, 255);
}

h3 {
  color: rgb(255, 255, 255);
}

ol {
  color: rgb(255, 255, 255);
}

ul {
  color: rgb(255, 255, 255);
}

.css-nlntq9 a {
  color: rgb(255, 255, 255);
}

.css-v37k9u a {
  color: rgb(255, 255, 255);
}
