div.css-1wrcr25.egzxvld0{
  background-image: url(https://i.imgur.com/80XLn6x.jpg);
  background-size: cover;
  border-radius: 10px;
  }

div.css-12oz5g7.egzxvld2{
  max-width: 80rem;
  }

label.css-16huue1.effi0qh0{
  color: white;
  font-size: 20px;
  font-family: "Goudy Bookletter 1911", sans-serif;
  }

button{
  font-size: 25px;
}

label {
  color: rgb(255, 255, 255);
}

p {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(255, 255, 255);
}

h3 {
  color: rgb(255, 255, 255);
}
