div.css-1wrcr25.egzxvld0{
  background-image: url(https://i.imgur.com/80XLn6x.jpg);
  background-size: cover;
  border-radius: 10px;
  }

div.css-12oz5g7.egzxvld2{
  max-width: 80rem;
  }

label.css-16huue1.effi0qh0{
  color: white;
  font-size: 20px;
  font-family: "Goudy Bookletter 1911", sans-serif;
  }

button{
  font-size: 25px;
}

p {
  font-size: 25px;
  color: white;
}

h1, h2, h3, ol, ul, label {
  color: rgb(255, 255, 255);
}

.css-nlntq9 a, .css-v37k9u a, .css-squ92j, .css-k302p2, .css-qrbaxs  {
  color: white;
}

st-ae.st-e6.st-e7.st-e8.st-bq.st-e9.st-e0.st-ea.st-eb, st-ae.st-e7.st-e8.st-e9.st-bq.st-ea.st-e1.st-eb.st-ec{
  color:white;
}
.st-bv, .st-fj, .st-bu {
  background-color: rgb(38, 39, 48);
}

.css-zbg2rx, .st-dd, .st-ej, .css-9t20qt{
  background: rgb(38, 39, 48);
}

.st-bp, .st-bq, .st-cc {
  color: white;
  background-color: rgb(38, 39, 48);
}

.st-bp{
  font-size: 20px;
}
