div.css-1wrcr25.egzxvld0{
  background-image: url(https://i.imgur.com/oSf2f5k.png);
  background-size: cover;
  border-radius: 10px;
}

div.css-1v0mbdj.etr89bj1{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.css-12oz5g7.egzxvld2{
  max-width: 70rem;
}

button{
  font-size: 25px;
}

label.css-16huue1.effi0qh0{
  color: white;
  font-size: 20px;
}

p {
  color: white;
  font-size: 25px;
  }

h1, h2, h3 {
  color: rgb(255, 255, 255);
}
