# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
jupyterlab

# data science
numpy
pandas
scikit-learn
nltk==3.7
matplotlib
seaborn
requests
bs4
pyldavis==3.3.1
gensim==3.8.3
tensorflow
gpt-2-simple==0.8.1

# tests/linter
pytest==7.0.1
pylint==2.12.2
ipdb==0.13.9

# API
gcsfs==2022.2.0
google-cloud-storage==2.1.0
tmdbsimple==2.9.1
python-dotenv==0.19.2
fastapi==0.75.0
uvicorn==0.17.5


# hosting and front-end
streamlit==1.6.0
gtts==2.2.3

# utilities
six>=1.14
wordcloud==1.8.1
