# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
jupyterlab

# data science
numpy
pandas
scikit-learn
nltk
matplotlib
seaborn
requests
bs4

# tests/linter
black
coverage
flake8
pytest
yapf
pylint
ipdb

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
python-dotenv
