# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
jupyterlab

# data science
numpy
pandas
scikit-learn
nltk
matplotlib
seaborn
requests
bs4
pyldavis
gensim==3.8.3
spacy

# tests/linter
pytest
pylint
ipdb

# API
gcsfs
google-cloud-storage
tmdbsimple
python-dotenv

# hosting and front-end
streamlit
gtts

# utilities
six>=1.14
joblib
wordcloud
