div.css-1wrcr25.egzxvld0{
  background-image: url(https://i.ibb.co/H4FjXXj/27598206.jpg);
  background-size: cover;
  border-radius: 10px;
  }

div.css-12oz5g7.egzxvld2{
  max-width: 80rem;
  }

label.css-16huue1.effi0qh0{
  color: white;
  font-size: 20px;
  font-family: "Goudy Bookletter 1911", sans-serif;
  }

h2{
  color:white;
}

button{
  font-size: 25px;
}
