div.css-1wrcr25.egzxvld0{
  background-image: url(https://i.ibb.co/H4FjXXj/27598206.jpg);
  background-size: cover;
  border-radius: 10px;
}

div.css-1v0mbdj.etr89bj1{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.css-12oz5g7.egzxvld2{
  max-width: 80rem;
}

button{
  font-size: 25px;
}

label.css-16huue1.effi0qh0{
  color: white;
  font-size: 20px;
}

h1 {
  color: white;
  font-family: monospace;
  font-size: 35px;
}

p {
  color: white;
  font-family: font-family: "Lucida Console", "Courier New", monospace;;
  font-size: 25px;
}
